autopep8==1.4.4
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.8
django-crispy-forms==1.9.1
django-heroku==0.3.1
gunicorn==20.0.4
idna==2.10
parse==1.16.0
pep8==1.7.1
psycopg2==2.8.5
pycodestyle==2.5.0
python-dotenv==0.14.0
pytz==2018.5
requests==2.24.0
sqlparse==0.2.4
urllib3==1.25.10
whitenoise==5.1.0
